{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "emotion",
    "@babel/transform-arrow-functions",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-throw-expressions"
  ]
}
